.avatar {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background-color: var(--medium-green);
}

.avatar img {
  max-width: 100%; 
  width: 350px;
  height: auto;
}

.avatar h1 {
  color: var(--light-beige);
  font-size: 4rem;
}


@media (max-width: 768px) {
  .avatar h1 {
    font-size: 2rem;
    padding-top: 20px;
  }

}