
.header {
  background: var(--medium-green);
  height: 700px;
  display:flex;
  padding: 20px 70px;

}


.header p {
  font-size: 1.5rem;
  padding: 0px 150px;
  background: var(--medium-green);

}




@media (max-width: 768px) {

.header p {
  font-size: 1rem;
  padding: 0px 10px;
  background: var(--medium-green);

}

.header {

  padding: 20px 20px;

}

}