button{
        background-color: transparent;
        border: 2px solid var(--dark-green); 
        color: var(--dark-green); 
        padding: 10px 20px; 
        font-size: 4rem;
        cursor: pointer; 
        transition: background-color 0.3s, color 0.3s; 
}

.button-container{
    
        margin: 50px auto;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;

            
}
      
      button:hover{
        background-color: var(--dark-green);
        color: white; 
      }